.DS_STORE
__pycache__/
build/
dist/
*.egg-info/
mrtrix3.py

bld.bat
build.sh
meta.yaml

lib/rpg*
build-wheels.sh

tests/data/*

!tests/data/D3/
!tests/data/D6/


tests/tmp_*/

# Ignore FFTW build artifacts but keep source (in case when not using dev container)
rpg_cpp/fftw-3.3.10/build/
rpg_cpp/fftw-3.3.10/*.o
rpg_cpp/fftw-3.3.10/*.lo
rpg_cpp/fftw-3.3.10/*.la
rpg_cpp/fftw-3.3.10/*.al
rpg_cpp/fftw-3.3.10/.libs/
rpg_cpp/fftw-3.3.10/.deps/
rpg_cpp/fftw-3.3.10/*.dirstamp
rpg_cpp/fftw-3.3.10/*.in
rpg_cpp/fftw-3.3.10/*.log
rpg_cpp/fftw-3.3.10/*.status
rpg_cpp/fftw-3.3.10/*.stamp
rpg_cpp/fftw-3.3.10/*.aux
rpg_cpp/fftw-3.3.10/*.exe
rpg_cpp/fftw-3.3.10/*.out
rpg_cpp/fftw-3.3.10/config.log
rpg_cpp/fftw-3.3.10/config.status
rpg_cpp/fftw-3.3.10/config.h
rpg_cpp/fftw-3.3.10/Makefile
rpg_cpp/fftw-3.3.10/stamp-h1
rpg_cpp/fftw-3.3.10/libtool
rpg_cpp/fftw-3.3.10/aclocal.m4
rpg_cpp/fftw-3.3.10/compile
rpg_cpp/fftw-3.3.10/config.guess
rpg_cpp/fftw-3.3.10/config.sub
rpg_cpp/fftw-3.3.10/depcomp
rpg_cpp/fftw-3.3.10/install-sh
rpg_cpp/fftw-3.3.10/ltmain.sh
rpg_cpp/fftw-3.3.10/missing
rpg_cpp/fftw-3.3.10/bootstrap.sh
rpg_cpp/fftw-3.3.10/CMakeFiles/
rpg_cpp/fftw-3.3.10/CMakeCache.txt
rpg_cpp/fftw-3.3.10/cmake_install.cmake
rpg_cpp/fftw-3.3.10/Makefile.in
rpg_cpp/fftw-3.3.10/Makefile.am
rpg_cpp/fftw-3.3.10/configure
rpg_cpp/fftw-3.3.10/configure.ac
rpg_cpp/fftw-3.3.10/FFTW3Config.cmake
rpg_cpp/fftw-3.3.10/FFTW3ConfigVersion.cmake
rpg_cpp/fftw-3.3.10/fftw3.pc
rpg_cpp/fftw-3.3.10/fftw.pc
rpg_cpp/fftw-3.3.10/fftw.pc.in
