.DS_STORE
__pycache__/
build/
dist/
*.egg-info/
mrtrix3.py

bld.bat
build.sh
meta.yaml

lib/rpg*
build-wheels.sh

# Ignore FFTW source and build artifacts
rpg_cpp/fftw-3.3.10/
rpg_cpp/fftw-3.3.10.tar.gz
**/*.o
**/*.lo
**/*.la
**/*.al
**/.libs/
**/.deps/
**/*.dirstamp
**/*.in
**/*.log
**/*.status
**/*.stamp
**/*.aux
**/*.exe
**/*.out
**/config.log
**/config.status
**/config.h
**/Makefile
**/stamp-h1
**/libtool
**/aclocal.m4
**/compile
**/config.guess
**/config.sub
**/depcomp
**/install-sh
**/ltmain.sh
**/missing
**/bootstrap.sh
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile.in
**/Makefile.am
**/configure
**/configure.ac
**/FFTW3Config.cmake
**/FFTW3ConfigVersion.cmake
**/fftw3.pc
**/fftw.pc
**/fftw.pc.in