# Use CPU only for synthstrip
--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.7.1+cpu
torchvision==0.22.1+cpu

pytest==8.3.5
pytest-xdist==3.7.0
nibabel==5.1.0
nipreps-synthstrip==0.0.1
nipype==1.10.0
pyyaml
